<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/mustache.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<title>CIS197 Final</title>
</head>

<body class="center" bgcolor="#F5F5DC">
	<h1>Bar Graph Builder</h1>
	<div id="left" class="input-manager"> 
		Input Values
		<br><br>
		
		<script id="table-headers" type="text/template" class="center">
                <tr class="row">
                    <th class="col-md-6">X Label</th>
                    <th class="col-md-6">Y Value</th>
                    <th class="col-md-6">Options</th>
                </tr>
        </script>

		<script id="search-template" type="text/template">
                <div class="col-md-6  col-md-offset-3">
                    <input type="text" name="xentry" id="xentry" class="search form-control" value="" autocomplete="off" placeholder="Enter X Label"/>
                    <input type="text" name="yentry" id="yentry" class="search form-control" value="" autocomplete="off" placeholder="Enter Y Value"/>
                </div>
        </script>

         <script id="result-template" type="text/template">
                <tr class="row" id="{{xlabel}}">
                    <td class="col-md-6">{{xlabel}}</td>
                    <td class="col-md-6">{{yvalue}}</td>
                    <td class="col-md-6"> 
                    	<button type="button" class="delete-entry" xlabel="{{xlabel}}">Delete</button>
                    </td>
                </tr>
        </script>

        

        <div id="search-container" class="listen-to" style="display: show"></div>
		<button class="add-entry" type="button" class="btn btn-default" xlabel="{{xlabel}}">Add</button>
		<br><br>
		<div class="error" color="red"></div>
		<table id="result-container" border="1" style="width:100%"></table>

	</div>
	<div id="right" class="graph-manager">
		Bar Graph 
		<br><br>
		<svg class="chart"></svg>
	</div>

	<script src="js/model/entryModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/collection/entryCollection.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/graphView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/inputView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/router/router.js" type="text/javascript" charset="utf-8"></script>
</body>

<footer class="footer">
	<p>Kevin Zhai 2015</p>
</footer>
