<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/makeJSON.js"></script>
  <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>

  <title>Climate Project</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/grayscale.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">Data Visualization</span> Final Project 
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/craig">Temperature</a>
                </li>
                <li>
                <a href="/kevin">Reefs</a>
                </li>
                <li>
                  <a href="/kylie">Bees</a>
                </li>
                <li>
                  <a href="/kylie2">Fish1</a>
                </li>
                <li>
                  <a href="/ik">Fish2</a>
                </li>
                <li>
                  <a href="/ik2">Fish3</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro">
          <div class="intro-body">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Ecosystem Destruction</h1>
                  <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </header>

      </section>
      <!-- Kevin D3 Viz -->
      <section id="kevin" class="container content-section text-center">
        <style>
          #tooltip {
            color: black;
          }
          .button {
            background-color: #555555; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }
          .buttonselect {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }
        }
      </style>
      <h1>Coral Bleaching in the Great Barrier Reef</h1>
      <p>Another terrible impact of climate change is its affect on the marine wildlife. Specifically, high CO2 levels causes the ocean to absorb excess carbon, creating a phenomena known as ocean acidification. Additionally, the high C02 levels also raise the temperature of the ocean water.</p>

      <p>One effect of ocean acidification and warming has been the death of coral reef colonies. The warmer temperatures cause the coral to reject the algae that gives the coral its color and energy. Known as "coral bleaching", this term refers to the color of coral reefs turning to white as they die. This phenomena has been seen in the Great Barrier Reef as scores of reef colonies die. </p>

      <img src="pics/16REEF1-superJumbo.jpg" height='600' width='800'></img>
      <body class="center" bgcolor="white">
        <div align="center" class="center" id="map" style="width:1100px;height:800px;"></div>
        <div><h2><button id='map1' class="buttonselect" onclick="reload98()">1998</button> - <button id='map2' class="button" onclick="reload02()">2002</button> - <button id='map3' class="button" onclick="reload16()">2016</button></h2></div>
        <div id="legend"><h3>Legend</h3></div>
        <script src="/js/addMarkers.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbk3tVuTbxgHCrJ5XTTc2aIqCf7C9WQ-A&callback=initMap">
      </script>
    </body>

  </section>

  <!-- jQuery -->
  <script src="vendor/jquery/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/grayscale.min.js"></script>

</body>

</html>
