<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Interactive US Hex Map</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/kylie.css?v=2.50">

  <!-- gnnlsk  -->
</head>

<body>
    
  <h1>U.S. BEE COLONY POPULATION</h1>
  <!-- <script src='http://codepen.io/jakealbaugh/pen/WvNjZB.js'></script> -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/kylie.js?version=2.38"></script>

    <div class='my-legend'>
        <div class='legend-title'>Percentage Change Key</div>
        <div class='my-legend'>
            <div class='legend-scale'>
              <ul class='legend-labels'>
                <li><span style='background:#999999;'></span> unavailable </li>
                <li><span style='background:#a6611a;'></span> Large Gain </li>
                <li><span style='background:#dfc27d;'></span> Small Gain </li>
                <li><span style='background:#80cdc1;'></span> Small Loss </li>
                <li><span style='background:#018571;'></span> Large Loss </li>
              </ul>
            </div>
        <div class='legend-source'>Source: <a href="https://www.usda.gov/nass/PUBS/TODAYRPT/hcny0516.pdf" target="_blank">[Honeybee Report]</a></div>
    </div>

    <!-- <div id = "line"> </div> -->

</body>
</html>
