.ky2 body {
  font: 10px sans-serif;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  width: 1350px;
  background: #fff;
}

.ky2 .chart { 
  background: #fff;
}

/* display of info on bottom when stream highlighted */
.ky2 p {
  font-size:  15px 

}

/* font for reduction percentage, special emphasis */
.ky2 b {
  font-weight: bold;
  font-size: 20px;
}


.ky2 h1 {
  color: #000000;
  font-weight: 100;
  text-align: center;
  font-size: 4em;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  position: relative;
  top: 1;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 0.2em 0;
  letter-spacing: 2px;
}

/* average surface temperature label */
.ky2 h2 {
  color: #000000;
  font-weight: 100;
  text-align: center;
  font-size: 1.2em;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  position: relative;
  top: 85px;
  right: 498px;
  height: 1px;
  width: 100%;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 0.2em 0;
  letter-spacing: 1.5px;

}

/* annotation for temperature decrease */
.ky2 h3 {
  color: #000000;
  font-weight: 100;
  text-align: center;
  font-size: 1.25em;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  position: relative;
  top: 150px;
  left: 200px;
  height: 1px;
  width: 100%;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 0.2em 0;
  letter-spacing: 1.2px;
  line-height: .7em;
}

.ky2 h4 {
  color: #000000;
  font-weight: 100;
  text-align: center;
  font-size: 1.15em;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  position: relative;
  top: 300px;
  right: 660px;
  height: 1px;
  width: 100%;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.8); */
  padding: 0.2em 0;
  letter-spacing: 1.2px;
  line-height: .7em;
  -webkit-transform: rotate(-90deg);
}


.ky2 div.tooltip2 { 

  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;

  position: fixed;     
  text-align: center;     
  width: 100px;          
  height: 50px;         
  padding: 2px;       

  background-color: #808080; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;     
}


.ky2 .axis path, .ky2 .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.ky2 button {
  position: absolute;
  right: 50px;
  top: 10px;
}

.ky2 rect.bordered {
  stroke: #E6E6E6;
  stroke-width:1px;   
}

.ky2 text.mono {
  font-size: 9pt;
  font-family: Optima, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
  fill: #aaa;
  position: relative;
  top: 1000px;
}

.ky2 text.axis-workweek {
  fill: #999999;
  position: absolute;
  bottom: 10px;
}